.navigacijas-poga{
    text-align: left;
    font: normal normal normal 20px/34px Segoe UI;
    color: #fff;
}

#galvene{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 255px;
    background: transparent url('images/shutterstock_295846730-1280x720@2x.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

h1{
    text-align: left;
    font: normal normal normal 50px/67px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

p{
text-align: left;
font: normal normal normal 24px/29px Roboto ;
}

.row{
    align-items: center;
}

.profila-bilde{
    background: transparent url('images/profile-image.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    top: 136px;
    left: 564px;
    width: 238px;
    height: 238px;
}